# Template for power_save configuration
PLUG_MAC="00:00:00:00:00:00"
WEBHOOK_URL="https://discord.com/api/webhooks/..."
LAST_IP="0.0.0.0"

# (Optional) The Push URL from Uptime Kuma. 
# Leave empty to disable Kuma integration.
KUMA_URL=""
